<section class="section section-bg" id="call-to-action" style="background-image: url(assets/images/banner-image-1-1920x500.jpg)">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 offset-lg-1">
              <div class="cta-content">
                  <!--will be filled here-->
              </div>
          </div>
      </div>
  </div>
</section>

<section class="section" id="car-specs">
  <div class="container">
    <br>
    <br>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <!--fills in-->
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        </div>
      
      <br>
      <br>



      <div class="row" id="tabs">
          <div class="col-lg-4">
              <ul>
                  <li><a href='#tabs-1'><i class="fa fa-cog"></i> Vehicle Specs</a></li>
                  <li><a href='#tabs-4'><i class="fa fa-phone"></i> Contact Details</a></li>
              </ul>
          </div>
          <div class="col-lg-8">
              <div class='tabs-content' style="width: 100%;">
                  <article id='tabs-1'>
                      <h4>Vehicle Specs</h4>
                      <div class="row" id="specs-details">
                          <!-- Vehicle specs will be dynamically filled here -->
                      </div>
                  </article>
                  <article id='tabs-4'>
                      <h4>Contact Details</h4>
                      <div class="row" id="contact-details">
                          <!-- Contact details will be dynamically filled here -->
                      </div>
                  </article>
                </div>
          </div>
      </div>
  </div>
</section>

